- content_for :title do
  = t('.the_hackety_blog') + '!'

- content_for :sidebar do
  = render :partial => "shared/ask"
  = render :partial => "shared/lessons"

- @posts.each do |post|
  .post.teaser
    %h2.title= link_to post.title, blog_path(post)
    
    .created_at
      = l(post.created_at, :format => :posted_at)

    .content
      :markdown
        #{post.content}
    
