- content_for :title do 
  = @post.title

- content_for :sidebar do
  = render :partial => "shared/recent"
  = render :partial => "shared/ask"
  = render :partial => "shared/lessons"

.post
  .created_at
    = l(@post.created_at, :format => :posted_at)

  .content
    :markdown
      #{@post.content}
